---
import './Meme.scss';
import meme1 from '/src/assets/meme-1.png';
import meme2 from '/src/assets/meme-2.png';
import meme3 from '/src/assets/meme-3.png';
import meme4 from '/src/assets/meme-4.png';
import mulletMeme from '/src/assets/mullet-meme.jpg';
---

<section id="meme" class="tilted-bg">
    <div class="feature-group">
        <h2>
            Busting the Decentralized Web3 Myth
        </h2>
        <h3>
            The Decentralized Mullet
        </h3>
        <img src={mulletMeme.src} alt="Web 1" style="padding-bottom: 3em"/>
        <p>
            Right now, despite many claims, a majority, <b>if not all</b>, the services that build the legos of Web3 are
            actually centralized, both with what you can <b>see</b> and what you <b>can't.</b></p>
        <p>While some <b>blockchains</b> may be more <b>decentralized</b> than others, access to nearly every blockchain is also
            <b>centralized</b>
        </p>
        <p>
            So consider this a call to action for our community to go back to ethos and make Web3 <i>real</i>
        </p>
    </div>
    <div class="meme-items">
        <div class="meme-item">
            <div>
                <img src={meme1.src} alt="Web 1"/>
                <h2>Web1</h2>
            </div>
            <p>
                Web1 is probably best remembered by geeks as chat rooms and IRC (which still exist to this day, but only to power users).
                To normal users it was the age of AOL dial-up and similar networks where you got web, email, shopping, and chat all in one place.
            </p>
        </div>
        <div class="meme-item">
            <div>
                <img src={meme2.src}/>
                <h2>Web2</h2>
            </div>
            <p>
                Web2 since evolved with the web browser and we got better gaming, online apps, video streaming and calling and much, much more. However, it also got quickly captured by Silicon Valley and what some refer to as the "tech bros".
                <br /><br />
                So <i>despite</i> the innovation that occurred, it has turned into a top-down system where only a few geeks/CEO's and their investors control your entire web.
                <br /><br />
                This also excludes the wider internet infrastructure of domains and ISP's (internet providers and hosting), who also play a part in controlling your web, be it for your "safety", or other reasons.
            </p>
        </div>
        <div class="meme-item">
            <div>
                <img src={meme3.src}/>
                <h2>Crypto &amp; Defi</h2>
            </div>
            <p>
                We get the birth of Bitcoin and all of the innovation that followed. While BTC and a handful of other chains have remained decentralized both in operation, and access, the innovation over time has caused things to re-centralize.
                <br /><br />

                This is due to several factors including big money coming in, pushing greed, hype, and "FOMO". The invention of several new logos's causing this to only get worse, creating a classic "boom" and "bust". Human nature tends to be greedy, so over time, money overrode principles.

                <br /><br />

                Many development teams prioritized inventing new ideas and "shipping" them to users, while selling them "tokens" to exit at their expense, all while knowing none of what they created was <i>truly decentralized</i>.
                <br /><br />

                It became one large crypto casino.
            </p>
        </div>
        <div class="meme-item">
            <div>
                <img src={meme4.src}/>
                <h2>Web3</h2>
            </div>
            <p>
                What to say about Web3? Honestly... upfront it appeared to get used as a new buzz word to replace "DeFi". Terms like "Web3" and "Metaverse" have many different meanings to many people. It is intended to include more than just money and trading, and yet every blockchain-based system that can be labeled "web3" still builds onto of the same centralized crypto/defi infrastructure.

                <br /><br />

                The end result is an ecosystem that promotes and <b><i>wants</i></b> to be decentralized, but where money overrules ideology, ethos, and principles. This is in part due to who's bankrolling it all, and thus the incentives to build make it more about the money then about freedom.

                <br /><br />

                There needs to be a balance here between free markets/money and public goods/infra, and so far things are way out of wack and need to be fixed.
            </p>
        </div>
    </div>
</section>
