---
import './Methods.scss';
import bitcoinLogo from '../../../../src/assets/bitcoin-logo.png';
import litecoinLogo from '../../../../src/assets/litecoin-logo.png';
import moneroLogo from '../../../../src/assets/monero-logo.png';
import ethereumLogo from '../../../../src/assets/ethereum-logo.png';
import paypalLogo from '../../../../src/assets/paypal-logo.png';
import patreonLogo from '../../../../src/assets/patreon-logo.png';
---

<section id="donate-methods">
  <div>
    <h2>Donate Cryptocurrency</h2>
    <div class="method-grid">
      <div>
        <div>
          <img src={bitcoinLogo.src} alt="BTC" />
          <h3>Bitcoin (BTC)</h3>
        </div>
      </div>
      <div>
        <div>
          <img src={litecoinLogo.src} alt="LTC" />
          <h3>Litecoin (LTC)</h3>
        </div>
      </div>
      <div>
        <div>
          <img src={moneroLogo.src} alt="XMR" />
          <h3>Monero (XMR)</h3>
        </div>
      </div>
      <div>
        <div>
          <img src={ethereumLogo.src} alt="ETH" />
          <h3>Ethereum (ETH)</h3>
        </div>
      </div>
      <div>
        <div>
          <img src={paypalLogo.src} alt="Paypal" />
          <h3>PayPal</h3>
        </div>
      </div>
      <div>
        <div>
          <img src={patreonLogo.src} alt="Patreon" />
          <h3>Patreon</h3>
        </div>
      </div>
    </div>
    <p>
      **When Gitcoin is doing funding rounds, donating through their website will give a matching bonus of up to 150%. This means that your donation will have a bigger impact on the project during this time period.** If you are interested in donating through other means, please get in touch with us to discuss. If there is a cryptocurrency you wish to contribute with that we have not listed, please let me know!
    </p>
  </div>
</section>
